footer {
    background-image: $footer-bg;

    .upper-part {

        .border {
            border-bottom: 2px $dark-gray solid;
        }

        .columns {
            display: flex;
            justify-content: space-between;
            gap: 30px 0;
            padding-top: 3rem;
            padding-bottom: 3rem;

            .footer-column {
                width: 270px;

                h2 {
                    font-size: 18px;
                    line-height: 27px;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-bottom: 15px;
                }
    
                ul {
                    list-style: none;
                    color: $footer-text-color;
                    padding: 0;

                    .fs-15px {
                        font-size: 15px;
                    }
                }
    
                .icons {
                    display: flex;
                    gap: 24px;
                }
            }
        }

        
    }

    .bottom-part {
        display: flex;
        gap: 16px;
        color: $footer-text-color;
        padding-top: 2rem;
        padding-bottom: 2rem;

    }
}

@media (max-width: 760px) {
    .columns {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .bottom-part {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;

    }
}