img {
    @include img-to-parent-box;
}

p, ul {
    margin: 0;
}

.center {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    // justify-content: space-between;
    height: 25px;
    font-size: 11px;
    margin-top: 25px;
    gap: 0 90px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    &-logo {
        display: flex;
        align-items: center;
        // margin-right: 90px;
        gap: 16px;
        color: $white;

        img {
            height: 24px;
        }

        p {
            @include bold;
            white-space: nowrap;
        }
    }

    &-nav {
        ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;
            @include gap-24px
        }
    }

    &-search {
        margin-left: auto;
        // position: relative;
        // display: block;
        width: 248px;

        input {
            background: $bg-for-search;
            border: none;
            border-radius: 50px;
            color: #757575;
            padding: 5px 0 5px 10px ;
            font-size: 13.3px;
            text-transform: uppercase;
            width: 100%;

        }
    }
}


@media (max-width: 630px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;

            .header-logo {
                margin-bottom: 17px;
            }

            .header-nav ul {
                flex-direction: column;
                line-height: 1.5em;
                @include font-roboto-bold;
                color: $dark-gray;
                margin-bottom: 23px;

                li:hover {
                    color: $white;
                }
            }
        &-search {
            display: block;
            width: 100%;
        }
    }
}