.content {
    padding-top: 100px;

    h2 {
        margin-bottom: 48px;
    }

    .tracks {
        display: flex;
        gap: 25px 50px;
        flex-wrap: wrap;

    
    
        .track {
            display: flex;
            width: 575px;
            min-width: 300px;
            gap: 15px;
            align-items: center;
            flex-grow: 1;
            flex-shrink: 1;
    
            img {
                width: 55px;
            }
            
            &-info {
                font-size: 12.8px;
                line-height: 1.5em;

                .track-name {
                    // display: inline;
                    font-weight: bold;
                    font-size: 12.8px;
                    line-height: 1.5em;

                }

                .artist-name {
                    color: $footer-text-color;
                }
            }

            p {
                margin-left: auto;
                font-size: 12.8px;
                line-height: 1.5em;
                color: $footer-text-color;

            }
        }
    }
}


@media (max-width: 1200px) {
    .content {
        padding-left: 20px;
        padding-right: 20px;
    }
}