.page-app {
    h2 {
        text-align: center;
    }
    padding-top: 100px;
    padding-bottom: 100px;


    &-content {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 48px;

        img {
            margin: 0 123px 0 144px;
        }

        &-description {
            max-width: 600px;
            margin-right: auto;
            font-size: 16px;

            a {
                display: block;
                border: none;
                border-radius: 32px;
                padding: 16px 40px;
                font-size: 12.8px;
                background-color: $download-btn;
                color: $white;
                text-decoration: none;
                margin-top: 16px;
                max-width: 131px;

            }
        }
    }
}

@media (max-width: 760px) {
    .page-app {
        padding-right: 20px;
        padding-left: 20px;


        &-content {
            flex-direction: column;

            img {
                margin: 0 20px 16px 20px;
            }
        }
    }
}