$green: #34C176;
$dark-gray: #cacaca;
$white: #ffffff;
$bg-for-search: #3C3B3D;
$orange: #F89202;
$download-btn: #95390C;
$main-section-bg: #08020D;
$footer-bg: linear-gradient(265.08deg, #95390C 14.9%, #5328A1 68.95%);
$footer-text-color: #E0E0E0;

// === artist.html ===
$purple: #5328A1;
// === /artist.html ===

$bg-list: 'subscribe_1', 'subscribe_2', 'subscribe_3';
$bg-list-length: length($bg-list);